.divInfo {
    display: flex;
    justify-content: center;
}

.divInfo img {
    scale: 85%;
    border-radius: 100%;
    border: 12px solid #b7b7b7;
}

.divInfo img.status-semdiagnostico {
    border: 12px solid #cff4fc;
}

.divInfo img.status-sintomas_insuficientes {
    border: 12px solid #d1e7dd;
}

.divInfo img.status-potencial_infectado {
    border: 12px solid #fff3cd;
}

.divInfo img.status-possivel_infectado {
    border: 12px solid #f8d7da;
}

.btnVoltar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #dddddd;
    border-radius: 100%;
}

.btnVoltar svg {
    color: #222;
    font-size: 2em;
    transition: .5s;
    border-radius: 100%;
}

.btnVoltar svg:hover {
    cursor: pointer;
    transform: scale(115%);
}

.alertCenter {
    text-align: center;
    justify-content: center;
    font-size: 18px;
}